* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0deg 2% 95%);
}

#content-Container {
  position: relative;
  left: 62px;
  bottom: 25vh;
  align-self: center;
}

form {
  padding-right: -16vw;
  position: relative;
  right: 90px;
}

#toDoEntry {
  background-color: white;
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding-left: 68px;
  height: 7vh;
  width: 686px;
  border-radius: 5px;
  font-size: 26px;
}

ul {
  display: flex;
  padding-right: 15vw;
  margin-top: 3vh;
  flex-direction: column;
  width: 280px;
}

ul li {
  background-position: 245px 13px;
  background-repeat: no-repeat;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  padding: 1.5vh;
  background-color: white;
  list-style: none;
  font-size: 26px;
  color: hsl(235, 19%, 35%);
  width: 717px;
  height: 47px;
  margin-left: -40px;
  position: relative;
  right: 89px;
}

ul li:hover {
  border-bottom: 1px solid hsl(233, 100%, 50%);
}

ul li:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#left-clear {
  font-size: 21px;
  padding-top: 2vh;
  margin: 0px;
  padding: 2vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: hsl(236, 9%, 61%);
  width: 705px;
  height: 2vh;
  position: relative;
  right: 89px;
  bottom: 18px;
}

#tab {
  padding-top: 2vh;
  text-align: center;
  padding: 2vh;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  color: hsl(236, 9%, 61%);
  width: 188px;
  height: 0px;
  position: relative;
  bottom: 141px;
  left: 122px;
  background: content-box;
}

.bgImgD {
  position: relative;
  bottom: 1vh;
  left: -1vw;
  width: 172vh;
}

#TODOLogo {
  position: relative;
  bottom: 30vh;
  left: 660px;
  color: white;
  font-size: 45px;
  font-weight: bold;
  width: 241px;
}

.theme {
  position: relative;
  bottom: 341px;
  left: 64vw;
  width: 41px;
}

.cross {
  position: relative;
  left: 29vw;
  bottom: -8px;
  width: 36px;
  height: 31px;
}

#tab button {
  background: none;
  border: none;
  color: hsl(236, 9%, 61%);
  font-size: 21px;
}

#tab button:hover {
  color: hsl(235, 7%, 30%);
  font-weight: bold;
}

#clear {
  background: none;
  border: none;
  color: hsl(236, 9%, 61%);
  font-size: 21px;
  position: relative;
  left: 22vw;
  bottom: 72px;
}

#clear:hover {
  color: hsl(235, 7%, 30%);
  font-weight: bold;
}

.circleEntry {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background: hsl(192, 100%, 67%);
  position: absolute;
  left: 15px;
  top: 24px;
}

.circleEntry:hover {
  background: hsl(231, 100%, 67%);
}


.checkEntry {
  position: absolute;
  left: 10px;
  width: 25px;
  top: 13px;
}

.check {
  position: relative;
  left: 3px;
  top: 8px;
  background: hsl(192, 100%, 67%);
  width: 31px;
  height: 29px;
  border-radius: 50%;
}

.check:hover {
  background: hsl(231, 100%, 67%);
}

@media screen and (max-width: 375px) {
  #content-Container {
    position: relative;
    bottom: 20vh;
    align-self: flex-end;
    left: 12vw;
  }

  form {
    padding-right: -16vw;
    position: relative;
    left: 12px;
  }

  #toDoEntry {
    background-color: white;
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding-left: 45px;
    height: 6vh;
    width: 290px;
    border-radius: 5px;
    font-size: 16px;
  }

  ul {
    display: flex;
    padding-right: 15vw;
    margin-top: 3vh;
    flex-direction: column;
    width: 280px;
  }

  ul li {
    background-position: 245px 13px;
    background-repeat: no-repeat;
    border-bottom: 1px solid hsl(233, 11%, 84%);
    padding: 1.5vh;
    background-color: white;
    list-style: none;
    font-size: 16px;
    color: hsl(235, 19%, 35%);
    width: 310px;
    height: 29px;
    margin-left: -40px;
    position: relative;
    right: -14px;
  }

  ul li:active {
    border-bottom: 1px solid hsl(233, 100%, 50%);
  }

  ul li:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  #left-clear {
    display: block;
    font-size: 13px;
    padding-top: 2vh;
    margin: 0px;
    padding: 2vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    color: hsl(236, 9%, 61%);
    width: 302px;
    height: 17px;
    margin-left: 14px;
    margin-top: -18px;
    position: initial;
  }

  #tab {
    padding-top: 2vh;
    text-align: center;
    padding: 2vh;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: hsl(236, 9%, 61%);
    width: 303px;
    height: 17px;
    position: relative;
    bottom: 6px;
    left: 15px;
    background: white;
  }

  .bgImg {
    position: relative;
    bottom: 1vh;
    left: -2vw;
    width: 433px;
  }

  #TODOLogo {
    position: relative;
    bottom: 25vh;
    left: 10vw;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 125px;
  }

  .theme {
    position: relative;
    bottom: 196px;
    left: 94vw;
    width: 25px;
  }

  .cross {
    position: relative;
    left: 71vw;
    bottom: -4px;
    width: 15px;
    height: 14px;
  }

  #tab button {
    background: none;
    border: none;
    color: hsl(236, 9%, 61%);
    font-size: 15px;
  }

  #tab button:hover {
    color: hsl(235, 7%, 30%);
    font-weight: bold;
  }

  #clear {
    background: none;
    border: none;
    color: hsl(236, 9%, 61%);
    font-size: 13px;
    position: relative;
    left: 60vw;
    bottom: 39px;
  }

  #clear:hover {
    color: hsl(235, 7%, 30%);
    font-weight: bold;
  }

  .circleEntry {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background: hsl(192, 100%, 67%);
    position: absolute;
    left: 12px;
    top: 17px;
  }

  .checkEntry {
    position: absolute;
    left: 4px;
    top: 6px;
    width: 17px;
  }

  .check {
    position: relative;
    left: 5px;
    top: 2px;
    background: hsl(192, 100%, 67%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}
