* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
}

form {
    padding-top: 35vh;
}

input {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

