* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  form {
    display: flex;
    padding-top: 30vh;
    padding-right: -16vw;
    justify-content: center;
  }

  input {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    height: 5vh;
    width: 235px;
    border-radius: 5px;
  }

  ul {
    display: flex;
    padding-right: 15vw;
    margin-top: 3vh;
    flex-direction: column;
    width: 280px;
    
  }

  ul li {
    display: block;
    border: 1px solid black;
    padding: 1.5vh;
    text-align: center;
  }

  ul li:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  ul #left-clear {
    display: block;
    font-size: 13px;
    border: 1px solid black;
    padding-top: 2vh;
    text-align: center;
    margin: 0px;
    padding: 2vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ul #tab {
    display: block;
    font-size: 13px;
    border: 1px solid black;
    padding-top: 2vh;
    text-align: center;
    padding: 2vh;
    border-radius: 5px;
  }
}
