<h1 class="page-header">Home</h1>
<section id="tDecks" class="popular">
  <h2>Top Decks</h2>
  <div class="menu">
    <div *ngFor="let product of decks"  class="info-container">
      <img src="{{ product.image }}" alt="prodImg" />
      <section>
        <a class="btn btn-primary" routerLink="/detail/{{ product.id }}">
          {{ product.name }}
        </a>
      </section>
    </div>
  </div>
</section>

<section id="tTrucks" class="popular">
  <h2>Top Trucks</h2>
  <div class="menu">
    <div *ngFor="let product of trucks" class="info-container">
      <img src="{{ product.image }}" alt="prodImg" />
      <section>
        <a class="btn btn-primary" routerLink="/detail/{{ product.id }}">
          {{ product.name }}
        </a>
      </section>
    </div>
  </div>
</section>

<section id="tWheels" class="popular">
  <h2>Top Wheels</h2>
  <div class="menu">
    <div *ngFor="let product of wheels" class="info-container">
      <img src="{{ product.image }}" alt="prodImg" />
      <section>
        <a class="btn btn-primary" routerLink="/detail/{{ product.id }}">
          {{ product.name }}
        </a>
      </section>
    </div>
  </div>
</section>
