<section id="tDecks" class="popular">
    <h2>Top Decks</h2>
    <div class="decks-menu">
        <a *ngFor="let product of decks"
        routerLink="/detail/{{product.id}}">
        {{product.name}}
    </a>
</div>
</section>

<section id="tTrucks" class="popular">  
    <h2>Top Trucks</h2>
    <div class="trucks-menu">
        <a *ngFor="let product of trucks"
        routerLink="/detail/{{product.id}}">
        {{product.name}}
    </a>
</div>
</section>

<section id="tWheels" class="popular">
    <h2>Top Wheels</h2>
    <div class="wheels-menu">
        <a *ngFor="let product of wheels"
        routerLink="/detail/{{product.id}}">
        {{product.name}}
    </a>
</div>
</section>