#dom-manipulation {
    margin: 5%;
    border: black solid 1px;
    width: 90vw;
}

#dom-manipulation > form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 5%;
}

form > h4 {
    margin: 2% auto;
}

form input {
    width: 90%;
}

.form-div {
    display: flex;
    margin: 2%;
}

label {
    margin: 0 2% 0 0;
}

.li2 {
    color: yellow;
}

#grid-of-cars-submitted {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.gridItems {
    width: 5vw;
    height: 5vw;
    background-color: skyblue;
    margin: 1vw;
    border: 1px solid black;
    padding: 1vw;
}