#CC4 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    font-size: x-large;
    margin: 10px;
}

#CC5 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    font-size: x-large;
    margin: 10px;
}

#CC6 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    font-size: x-large;
    margin: 10px;
}

#CC7 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    font-size: x-large;
    margin: 10px;
}

#CC8 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    font-size: x-large;
    margin: 10px;
}