body
    background-color: darkseagreen

.popular
    background-color: #E7E8CB
    border-radius: 1rem
    margin: 4rem
    display: flex
    flex-direction: column
    align-items: center

    h2
     margin: 1rem

ul
    background-color: #E7E8CB
    border-radius: 1rem
    margin: 4rem
    display: flex
    align-items: stretch
    justify-content: space-around
    list-style-type: none

    a
     border: 2px solid black
     background-color: #48A0C9
     border-radius: 5px
     margin: 4rem
     font-size: 1.5rem
     font-weight: bold

.menu
    display: flex
    flex-direction: row
