#container
    background-color: #212529
    margin: 5rem 0rem 1rem 20rem
    border-radius: 5px
    display: flex
    justify-content: space-around
    flex-direction: row-reverse
    width: fit-content

    h2
        margin-top: -5px
        color: white

    p
        font-weight: bold
        font-size: 1.5rem
        color: white

    button
        border: 2px solid black
        background-color: #48A0C9
        border-radius: 5px
        margin: 2rem 0rem 1rem
        font-size: 1.5rem
        font-weight: bold

    #descript
        width: 30rem

    section
        margin: 1rem
        padding: 1rem

    img
        width: 32rem
        height: 25rem
        margin: 0px 0px 0px 66px
        border: 5px black solid
        border-radius: 1rem
    
    #productSlides
        width: 42rem
    
    

