@import "~bootswatch/dist/quartz/variables"
@import "~bootstrap/scss/bootstrap"
@import "~bootswatch/dist/quartz/bootswatch"

#container
    background-color: #212529
    margin: 5rem 0rem 1rem 20rem
    border-radius: 1rem
    display: flex
    justify-content: space-around
    flex-direction: row-reverse
    width: fit-content

    h2
        margin-top: -5px
        color: white

    p
        font-weight: bold
        font-size: 1.5rem
        color: white

    #descript
        width: 32rem

    section
        margin: 1rem
        padding: 1rem

    img
        width: 32rem
        height: 25rem
        margin: 0px 0px 0px 66px
        border: 5px black solid
        border-radius: 1rem

    #productSlides
        display: flex
        align-items: center
        width: 42rem

    #detail-buttons
        display: flex
        flex-direction: column
        align-items: center

        button
            width: 20rem
            margin: 1rem

hr
    color: white