<div id="container" *ngIf="product">
  <section id="productInfo">
    <h2>{{ product.name | uppercase }}</h2>
    <hr>
    <p id="descript">{{ product.description }}</p>
    <hr>
    <p>Price: ${{ product.price }}</p>
    <hr>
    <div id="detail-buttons">
      <button class="btn btn-primary" type="button" (click)="addToCart(product)">Add to Cart</button>
      <button class="btn btn-warning" type="button" (click)="goBack()">Back</button>
    </div>
  </section>
  <section id="productSlides">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" (click)="open(content)" >
          <img src="{{product.image}}" alt="Random first slide"/>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" (click)="open(content2)" >
          <img src="{{product.image2}}" alt="Random second slide"/>
        </div>
      </ng-template>
    </ngb-carousel>
</section>
<ng-template #content let-modal style="display: contents;">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  <div class="modal-body" style="width: fit-content;">
    <img src="{{product.image}}" alt="Random first slide" style="width: 728px; height: 686px;"/>
  </div>
</ng-template>
<ng-template #content2 let-modal>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  <div class="modal-body" style="width: fit-content;">
    <img src="{{product.image2}}" alt="Random first slide" style="width: 728px; height: 686px;"/>
  </div>
</ng-template>
</div>

