<h1 class="page-header">Cart</h1>
<div id="container">
  <section id="cart-container">
    <div id="cart">
      <p class="empty" [ngClass]="{
        'empty': !showPlaceOrder,
        'removed': showPlaceOrder
      }">--Cart Empty--</p>
      <div
        class="cart-item"
        [ngClass]="{
          'cart-item': isShowing,
          removed: !isShowing
        }"
        *ngFor="let item of items"
      >
      
        <span>{{ item.name }} x{{ item.quantity }}</span>
        <span>{{ (item.price * item.quantity) | currency }}</span>
      </div>
    </div>
    <button
      [ngClass]="{
        button: showPlaceOrder,
        removed: !showPlaceOrder
      }"
      class="btn btn-warning"
      type="button"
      (click)="clearCart()"
    >
      Clear Cart
    </button>
  </section>
  <section id="order-container">
    <div id="total">
      <div class="prices">
        <span>Item(s): </span>
        <span>{{ prices.items | currency }}</span>
      </div>
      <div class="prices">
        <span>Shipping and handling: </span>
        <span>{{ prices.shipping | currency }}</span>
      </div>
      <div class="prices">
        <span>Total before tax: </span>
        <span>{{ prices.beforeTax | currency }}</span>
      </div>
      <div class="prices">
        <span>Estimated tax to be collected: </span>
        <span>{{ prices.afterTax | currency }}</span>
      </div>
      <div class="prices">
        <span>Order total: </span>
        <span>{{ prices.total | currency }}</span>
      </div>
    </div>
    <button
      [ngClass]="{
        button: showPlaceOrder,
        removed: !showPlaceOrder
      }"
      class="btn btn-primary"
      type="button"
      (click)="placeOrder()"
    >
      Place Order
    </button>
  </section>
</div>
