@media screen and (max-width: 1000px) {

    .container {
        position: relative;
    }

    img {
        width: 100%;
        height: 900px;
        border-radius: 3px;
    }

    .logo {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0%;
        right: 15%
        
    }

    .feed {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 20%;
        right: 40%
    }

    .feedHeader {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        right: 47%
    }

    .userInfo {
        display: flex;
        flex-direction: row;
        position: absolute;
        flex-wrap: wrap;
        margin-left: 30px;
        padding: 30px;
        top: 41%;
        right: 35%
    }

    .bio {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        right: 50%
    }

    .editButton {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 15%;
        right: 5%
    }

    .logoutButton {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0%;
        right: 5%
    }

    button {
        padding: 10px;
        margin: 10px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 30px;
        background-color: #FF7900;
    }

    .account {
        color: yellow;
    }

    .feed > p {
        font-size: 20px;;
    }

    .feedHeader > h2 {
        margin: 10%;
        padding: 20px;
    }

    .userInfo > p {
        margin: 5px;
        padding: 3px;
        font-size: 20px;
    }

    .bio > img {
        width: 50%;
        height:50%;
    }

    .bio > h1 {
       margin: 0px;
       padding-left: 50px;
    }

    .bio > p {
        padding-right: 50px;
        font-size: 22px;
     }
}