img {
    width: 1050px;
    height: 905px;
    border-radius: 3px;
}

.container {
    display: flex;
    align-content: space-between;
}

.logo {
  position: absolute;
  top: 20%;
  right: 55%;
  background: -webkit-linear-gradient(#FFB800 40%, #FFFFFF 100%, #FF7A00 38%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 10px transparent;
  font-size: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexContainer {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    padding: 200px;
    align-items: center;
}

h2 {
    font-size: 100px;
}

.login {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px 40px;;
    border-radius: 10px;
    background-color: #FF7900;
}

.signUp {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px 40px;;
    border-radius: 10px;
    background-color: #FF7900;
}

@media screen and (max-width: 1000px) {
    img {
        width: 100%;
        border-radius: 3px;
    }

    .logo {
        position: absolute;
        top: 5%;
        right: 20%;
        background: -webkit-linear-gradient(#FFB800 40%, #FFFFFF 100%, #FF7A00 38%);
        -webkit-background-clip: text;
        -webkit-text-stroke: 10px transparent;
        font-size: 150px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .flexContainer {
        position: absolute;
        top: 30%;
        right: 15%;
    }

    .flexContainer > button {
        margin: 30px;
    }

    h2 {
        display: none;
    }
}

