#dashboard {
  display: none;
}

#dashboard hr {
  position: relative;
  top: 50vh;
  width: 1050px;
  border: 2px solid black;
}

#dashboard .links {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20%;
  right: 86%;
}

#dashboard .feed {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -3vh;
  right: -26vw;
  width: 47vw;
  height: 31vh;
}

#dashboard .feedHeader {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  right: 47%;
}

#dashboard #bio {
  display: flex;
  flex-direction: column;
}

#dashboard #bio #userImage {
  height: 30vh;
  width: 15vw;
  position: relative;
  align-self: center;
}

#dashboard #bio #accName {
  position: relative;
  align-self: center;
}

#dashboard #bio p {
  position: relative;
  align-self: center;
  font-size: larger;
}

#dashboard .editButton {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15%;
  right: 5%;
}

#dashboard .logoutButton {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0%;
  right: 5%;
}

#dashboard button {
  padding: 10px;
  margin: 40px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 30px;
  background-color: #ff7900;
}

#dashboard .account {
  color: yellow;
}

#dashboard .feed p {
  font-size: 25px;
}

#dashboard .feedHeader h2 {
  margin: 10%;
  padding: 20px;
}

#dashboard #userInfo {
  display: flex;
  flex-direction: row;
}

#dashboard #counts {
  display: flex;
  flex-direction: row;
}

#dashboard #counts p {
  position: relative;
  left: 36vw;
  bottom: 2vh;
  font-size: larger;
  margin: 20px;
}

#dashboard #userInfo p {
  position: relative;
  left: 36vw;
  bottom: 1vh;
  font-size: larger;
  margin: 20px;
}

#dashboard .feed #growlBox {
  position: relative;
  left: 16%;
  width: 37vw;
  height: 5vh;
  border: 5px solid black;
  font-size: x-large;
}

#dashboard .feed #update {
  position: relative;
  left: 13%;
  bottom: 2vh;
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#dashboard .feed #delete {
  position: relative;
  left: 9%;
  bottom: 2vh;
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#dashboard .feed #submit {
  position: relative;
  left: 6%;
  bottom: 2vh;
  height: 6vh;
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#dashboard #growlNow {
  position: relative;
  left: 24%;
  bottom: -6vh;
  width: 20vw;
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#dashboard #growlAgain {
  position: relative;
  bottom: 5vh;
  width: 22vw;
  left: 12vw;
}

@media screen and (max-width: 1000px) {
  #dashboard .logo {
    display: none;
  }

  #dashboard .links {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 15%;
    bottom: 0%;
  }

  #dashboard .feed {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 12%;
    right: 15%;
    width: 73vw;
    height: 25vh;
  }

  #dashboard .feedHeader {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    right: 47%;
  }

  #dashboard #userInfo {
    position: relative;
    top: 41%;
    right: 31vw;
  }

  #dashboard #counts {
    position: relative;
    top: 41%;
    right: 31vw;
  }

  #dashboard #bio {
    display: flex;
    flex-direction: column;
  }

  #dashboard .editButton {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15%;
    right: 5%;
  }

  #dashboard .logoutButton {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    right: 5%;
  }

  #dashboard button {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    background-color: #ff7900;
  }

  #dashboard .account {
    color: yellow;
  }

  #dashboard .feed p {
    font-size: 20px;
  }

  #dashboard .feedHeader h2 {
    margin: 10%;
    padding: 20px;
  }

  #dashboard #bio #bioPara {
    position: relative;
    right: 27vw;
  }

  #dashboard #bio #accName {
    position: relative;
    top: 33%;
    right: 27vw;
  }

  #dashboard #bio #userImage {
    height: 30vh;
    width: 30vw;
    position: relative;
    align-self: flex-start;
    left: 7vw;
  }

  #dashboard .gridItems {
    border: 5px solid black;
    font-size: x-large;
  }

  #dashboard .feed #growlBox {
    position: relative;
    left: 20%;
    width: 55vw;
    border: 5px solid black;
    font-size: x-large;
  }

  #dashboard .feed #update {
    position: relative;
    left: 21%;
    bottom: 0vh;
    font-size: x-large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #dashboard .feed #delete {
    position: relative;
    left: 25%;
    bottom: 0vh;
    font-size: x-large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #dashboard .feed #submit {
    position: relative;
    left: 28%;
    bottom: 0vh;
    font-size: x-large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #dashboard #growlAgain {
    position: relative;
    bottom: 0vh;
    width: 22vw;
    left: 24vw;
  }
}
