@media screen and (max-width: 1000px) {
  #login .logo {
    display: none;
  }

  #login .flexContainer {
    display: flex;
    flex-direction: column;
  }

  #login #logInput input,
  label {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 5px;
  }

  #login h2 {
    align-self: center;
    font-size: 70px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #login #logBtn {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px 40px;
    border-radius: 10px;
    background-color: #ff7900;
    align-self: flex-end;
    margin: 100px;
  }
}

#login {
  display: none;
}

#login .container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin: 7vw;
}

#login .logo {
  font-size: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login .flexContainer {
  position: relative;
  bottom: 5vh;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login h2 {
  font-size: 65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login #logInput input,
label {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 15px;
}

#login #loginBtn {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 14px 40px;
  border-radius: 10px;
  background-color: #ff7900;
  margin: 100px;
}
