@media screen and (max-width: 1000px) {
  #signup .logo {
    display: none;
  }

  #signup .flexContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0vh;
  }

  #signup #signInput label,
  input {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 5px;
  }

  #signup h2 {
    align-self: center;
    font-size: 70px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #signup #createBtn {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px 40px;
    border-radius: 10px;
    background-color: #ff7900;
  }
}

#signup {
  display: none;
}

#signup .container {
  display: flex;
  flex-direction: row;
  margin: 7vw;
}

#signup .logo {
  font-size: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#signup .flexContainer {
  position: relative;
  bottom: 5vh;
  left: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup h2 {
  font-size: 65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#signup #signInput label,
input {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 100%;
  margin: 5px;
}

#signup #createBtn {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 14px 40px;
  border-radius: 10px;
  background-color: #ff7900;
}
